
<!doctype html>
<html lang="en" ng-app="AppHmac">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<div ng-controller="HashCtrl">
        <p>
            <b>X-HASH:</b> <br />
            {{hash}}
        </p>
        <p>
            <b>X-MICROTIME:</b> <br />
            {{time}}
        </p>
        <p>
            <b>X-PUBLIC-KEY:</b> <br />
            {{token}}
        </p>
        <hr/>
        <h4>teste token</h4>
        <input ng-model="token" type="text" style="width: 550px"/>
        <pre>{{response}}</pre>

    <button ng-click="testAuth()">teste</button>
</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha1.js"></script>
<script type="text/javascript">

    /**
     * required hmac-sha1.js
     * URI FONT: https://code.google.com/p/crypto-js/#HMAC
     */
    angular
            .module('valmir.authHmac', [])

            .service('$authHmac', ['$http', '$interval', function($http, $interval){
                var apiSecretKey = "";
                var publicKey = "";
                var timestamp = null;
                var delayEpiration = 60;//min

                var interval = null;

                var getHMAC = function(token) {
                    timestamp = getMicrotime(true).toString();
                    var hash = CryptoJS.HmacSHA1(token + timestamp, apiSecretKey);
                    return hash.toString();
                };

                var setSecretKey = function(key){
                    apiSecretKey = key;
                };

                var setToken = function(token){
                    publicKey = token;

                    $http.defaults.headers.common['X-HASH'] = getHMAC(publicKey)
                    $http.defaults.headers.common['X-PUBLIC-KEY']  = publicKey;
                    $http.defaults.headers.common['X-MICROTIME']  = getTime();

                    setIntervalTime();
                };

                var auth = function(key, token){
                    setSecretKey(key);
                    setToken(token);
                };

                var getMicrotime = function (get_as_float) {

                    var now = new Date().getTime() / 1000;
                    var s = parseInt(now, 10);

                    return (get_as_float) ? now : (Math.round((now - s) * 1000) / 1000) + ' ' + s;
                };

                var getTime = function(){
                    return timestamp;
                }

                var setIntervalTime = function(){
                    var sec = delayEpiration * 60 * 1000;
                    if(interval === null)
                        interval = $interval(function(){setToken(publicKey)}, sec);
                }

                return {
                    getHMAC: getHMAC,
                    setSecretKey: setSecretKey,
                    setToken: setToken,
                    auth: auth,
                    getTime: getTime
                }

            }]);


    //////////////////////////////////////////////////////

    angular
            .module('AppHmac', ['valmir.authHmac'])

            .run(function($authHmac){
                //$authHmac.setSecretKey('28ea842sfgd6322s456464434354$$##AGFASGDBSDBS$%#$##@$#@#$&');
                $authHmac.auth('28ea842sfgd6322s456464434354$$##AGFASGDBSDBS$%#$##@$#@#$&', "28ea84228a331d6322bfd6b3fbbf16623f0092595e6c57f640e1c9a94b4fda97");
            })


            .config(function($httpProvider, $provide) {

                delete $httpProvider.defaults.headers.common['X-Requested-With'];
                $httpProvider.defaults.headers.post['Accept'] = 'application/json';
                $httpProvider.defaults.headers.post['Content-Type'] = 'application/json; charset=utf-8';
                $httpProvider.defaults.headers.common['Accept'] = 'application/json';
                $httpProvider.defaults.headers.common['Content-Type'] = 'application/json; charset=utf-8';
                $httpProvider.defaults.useXDomain = true;
                $httpProvider.defaults.withCredentials = true;

            })

            .controller('HashCtrl', function($scope, $http, $authHmac){

                $scope.response = null;
                $scope.token = "28ea84228a331d6322bfd6b3fbbf16623f0092595e6c57f640e1c9a94b4fda97";
                $scope.testAuth = testAuth;

                $scope.$watch('token', function(token){
                    $scope.hash = $authHmac.getHMAC(token);
                    $scope.time = $authHmac.getTime();
                });

                ///////////////////////////////////
                function testAuth() {
                    $authHmac.setToken($scope.token);

                    $http.get('http://localhost:8000/hmac').then(function (result) {
                        $scope.response = result.data;
                    }, function(er){
                        $scope.response = er.data;
                    });
                }

            })
</script>


</body>
</html>
